@model IEnumerable<Ingredient>

@{
    ViewBag.Title = "List of Restaurant Ingedients";
}

<h1>Ingredients</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Ingredient ingredient in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ingredient.Name)
                </td>
                <td>
                    @*asp-action -> Tells controller that the anchor tag should go to the Details page when clicked.*@
                    @*asp-route-id -> Sets the id with IngredientId to query for an ingredient. we have defined IngredientId in our Db.*@
                    <a asp-action="Details" asp-route-id="@ingredient.IngredientId">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>